@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:focus {
  background-color: gray;
}

input:checked ~ .dotA {
  transform: translateX(100%);
  background-color: #fff;
}

input:checked ~ .dotB {
  transform: translateX(100%);
  background-color: #48bb78;
}

/* This will prevent the Display to move the other elements */
.Display {
  background-color: #000;
  max-width: 210px;
  max-height: 50px;
  min-width: 210px;
  min-height: 50px;
  overflow: hidden;
}

.VolumeSection {
  display: flex;
  width: 210px;
}

.demo-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 50px auto;
}
.demo-box {
  width: 250px;
  height: 250px;
  display: inline-block;
  border-radius: 12px;
  margin: 20px;
}

/* Glow */
.demo-box {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

/* Glow Colors */
#glow-blue {
  animation-name: glow-blue;
}
@-webkit-keyframes glow-blue {
  from {
    box-shadow: 0 0 2px #82d8f9, 0 0 10px #82d8f9, 0 0 20px #00a6fb,
      0 0 30px #00a6fb;
  }
  to {
    box-shadow: 0 0 10px #82d8f9, 0 0 20px #5ec9fe, 0 0 30px #5ec9fe,
      0 0 40px #5ec9fe;
  }
}
