@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:checked ~ .dotA {
  transform: translateX(100%);
  background-color: #222;
}

input:checked ~ .dotB {
  transform: translateX(100%);
  background-color: #222;
}

/* This will prevent the Display to move the other elements */
.Display {
  background-color: #000;
  max-width: 210px;
  max-height: 50px;
  min-width: 210px;
  min-height: 50px;
  overflow: hidden;
  /* -webkit-box-shadow: 0 0 20px #ba01ff;
  -moz-box-shadow: 0 0 20px #ba01ff; */
  /* box-shadow: 0 0 20px #ba01ff; */
}

.VolumeSection {
  display: flex;
  width: 210px;
}

.Panel {
  background-color: #222;
}

.DrumPad {
  background-color: #222;
}
